:root {
    --deg: 5deg;
    --base: #43c2af;
    --second: #7e8bc6;
    --trackball: var(--base);
    --range: 0%;
    --bg: #10252f;
}

.lt-video {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(100% - 52px);
        z-index: 100;
        opacity: 0.6;
        background-color: rgba(0, 0, 0, 0.75);

        &--play {
            opacity: 0;
        }
    }

    &:hover &__controls,
    &--pause &__controls {
        opacity: 1;
    }

    &__player {
        width: 100%;
        height: 100%;
    }

    &__controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        z-index: 100;
        opacity: 0;
        transition: opacity 150ms ease-in-out;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
            width: 100%;
            aspect-ratio: 6 / 1;
            z-index: -1;
            pointer-events: none;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1%;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        cursor: pointer;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            animation-name: pop;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }

    &__volume {
        display: flex;
        justify-content: center;
        align-items: center;

        &__range {
            width: 0px;
            overflow: hidden;
            transition: width 0.2s cubic-bezier(0.4, 0, 1, 1);
        }

        &:hover &__range {
            width: 60px;
            overflow: visible;
        }
    }

    &__duration {
        padding: 0 5px;
    }

    &__process {
        padding: 0 1%;
    }
}

/* Pop */
@keyframes pop {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
