.lt-document {
    padding: 20px;
    &__title {
        font-size: 2rem;
        font-weight: 700;
        height: 36px;
    }

    &__body {
        width: 100%;
        height: calc(100vh - 76px);
        border-radius: 5px;
        background-color: #fff;
        padding: 10px;
        overflow-y: auto;
    }
}
